[submodule "submodules/sway-client"]
	path = submodules/sway-client
	url = https://github.com/ishantSikdar/sway-client
[submodule "sway-client"]
	path = sway-client
	url = https://github.com/ishantSikdar/sway-client
[submodule "sway-server"]
	path = sway-server
	url = https://github.com/ishantSikdar/sway-server
